<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    Use end date? <%= 
    	if @event.end_date 
	    	check_box_tag "use_end_date", "1", true
	    else 
		    check_box_tag "use_end_date"
		  end %>
  </div>
  <div class="field">
    <%= f.label :location_en %><br />
    <%= f.text_field :location_en %>
  </div>
  <div class="field">
    <%= f.label :location_de %><br />
    <%= f.text_field :location_de %>
  </div>
  <div class="field">
    <%= f.label :title_en %><br />
    <%= f.text_field :title_en %>
  </div>
  <div class="field">
    <%= f.label :title_de %><br />
    <%= f.text_field :title_de %>
  </div>
  <div class="field">
    <%= f.label :description_en %><br />
    <%= f.text_area :description_en %>
  </div>
  <div class="field">
    <%= f.label :description_de %><br />
    <%= f.text_area :description_de %>
  </div>
  <div class="field">
    <%= f.label :url, "External URL" %>  <%= f.text_field :url %> 
    <%= f.label :direct_to_url %> <%= f.check_box :direct_to_url %>
  </div>
  <div class="field">
  	<%= f.label :project_id, "Project" %>
		<%= f.select :project_id, Project.order("title_en").collect {|p| [ p.title, p.id ] }, { :include_blank => "None" } %>
    <%= f.label :direct_to_project %> <%= f.check_box :direct_to_project %>
  </div>
  <div class="field">
      <%= f.label :disable_link %> <%= f.check_box :disable_link %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
