<ul class="event_list">
<% events.each do |event| %>
	<li>
		<%= l event.date, :format=>:short %><%= l event.end_date, :format=>:short_end if event.end_date %>
		<%= event.location %><br/>    
    <%= render 'events/link', :event => event, :text => event.title %>
	</li>
<% end %>
    <!--li class="all_events"><%= link_to t("events_list"), public_events_list_url, :class=>"nav_ajax" %></li-->
</ul>


