<p>
  <%= @event.location %>,
	<%= l @event.date, :format=>:long %>
	<% if @event.end_date %> 
		- <%= l @event.end_date, :format=>:long%>
	<% else %>
		<%= l @event.time, :format=>:hours_minutes %>
	<% end %>
</p>

<h1><%= @event.title %></h1>

<div>
  <%= formatize @event.description %>
</div>

<p>
<% if @event.direct_to_project && @event.project_id %>
    <%= link_to t('more_info'), public_project_url(event.project), :class=>"nav_ajax" %>    
<% else %>
    <%= link_to t('more_info'), @event.url if @event.url? %>    
<% end %>
</p>

<p>
<%= link_to 'Edit', edit_event_path(@event) if session[:admin] %>
<% if request.path.include?('admin') %>
  | <%= link_to 'Show public', public_event_path(@event) if session[:admin] %>
<% end %>

</p>