<p>
  <%= @event.location %>, <%= l @event.date, :format=>:long %>,   <%= l @event.time, :format=>:hours_minutes %><br/>
</p>

<h1><%= @event.title %></h1>

<div>
  <%= formatize @event.description %>
</div>

<%= link_to t('more_info'), @event.url if @event.url? %>
