<p>
  <%= @event.location %>, <%= l @event.date, :format=>:long %>,   <%= l @event.time, :format=>:hours_minutes %><br/>

</p>

<h1><%= @event.title %></h1>

<p>
  <%= @event.description %>
</p>

<%= link_to 'More info', @event.url if @event.url? %>
