<p>
  <%= @event.location %>,
	<%= l @event.date, :format=>:long %>
	<% if @event.end_date %> 
		- <%= l @event.end_date, :format=>:long%>
	<% else %>
		<%= l @event.time, :format=>:hours_minutes %>
	<% end %>
</p>

<h1><%= @event.title %></h1>

<div>
  <%= formatize @event.description %>
</div>

<%= link_to t('more_info'), @event.url if @event.url? %>

<%= link_to 'Edit', edit_event_path(@event) if session[:admin] %>
