<tr>
<td>
		<% if project.image %>
			<%= image_tag project.image.image.url(:thumb) %>
		<% end %>
</td>
<td>
    <% if project.direct_to_url %>
      <a href="<%= project.website %>" target="_blank"><%= project.title %></a>
    <% else %>
        <a href="<%= public_project_url(project) %>" class="nav_ajax"><%= project.title %></a>
    <% end %><br/> 
		<%= project.description_short %><br/>
		<!-- Keywords: <%= render 'projects/taglist', :tags => project.tags %> -->
</td>
