<h1><%= t('project_gallery_headline') %></h1>
<%= render 'projects/gallery_intro' %>

<table>
<% @projects.each do |project| %>
<tr>
<td>
		<% if project.image %>
			<%= image_tag project.image.image.url(:thumb) %>
		<% end %>
</td>
<td>
		<%= link_to project.title, public_project_url(project), :class=>'content_ajax large_link' %><br/> 
		<%= project.description_short %><br/>
		Keywords: <%= render 'taglist', :tags => project.tags %>
</td>
</tr>
<% end %>
</table>
