<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description short:</b>
  <%= @project.description_short %>
</p>

<p>
  <b>Description long:</b>
  <%= @project.description_long %>
</p>

<p>
  <b>Location:</b>
  <%= @project.location %>
</p>

<p>
  <b>Year:</b>
  <%= @project.year %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Website:</b>
  <%= @project.website %>
</p>

<!--
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
-->