<% if @project.main_media_embed? %>
  <%= @project.main_media_embed.html_safe %>
<% elsif @project.image %>
	<%= image_tag @project.image.image.url(:medium) %>
<% end %>

<h1><%= @project.title %></h1>

<p><%= @project.description_short %></p>

<ul>
  <!--li>Keywords: <%= render :partial=>'projects/taglist', :locals=>{:tags => @project.tags} %></li-->
  	<% if @project.start_date %>
    <li><%= t('project_date') %>: 
	  	<%=	l @project.start_date, :format=>:long %><% if @project.end_date %> - <%= l @project.end_date, :format=>:long %><% end %>
    </li>  
  	<% else %>
  	<% end %>
    <% if @project.location? %>
      <li><%= t('project_location') %>: <%= @project.location %></li>
    <% end %>
  <% if @project.client? %>
		<li><%= t('project_partner') %>: <%= @project.client %></li>
	<% end %>
    <% if @project.website? %>
      <li>Website: <%= link_to @project.website, @project.website %></li>	
    <% end %>
</ul>

<p><%= formatize @project.description_long %></p>

<!--
<% if @project.media_items.size > 0 %>
	<h3><%= t('media_items_headline') %></h3>
	<ul>
		<% @project.media_items.each do |media_item| %>
		<li>
		<%= render :partial=>'media_items/show_single', :locals=>{:media_item=>media_item} %>
		</li>
		<% end %>
	</ul>
<% end %>
-->

<p>
<%= link_to 'Edit', edit_project_path(@project) if session[:admin] %>
</p>