<nav>
<h1><span>Admin</span></h1>

<ul>
	<li><%= link_to "Main Pages", pages_url %></li>
	<li><%= link_to "Subpages", pages_url(:subpages =>1) %></li>
</ul>
<ul>
	<li><%= link_to "Images", images_url %></li>
	<li><%= link_to "Projects", projects_url %></li>
	<li><%= link_to "Tags", tags_url %></li>
	<li><%= link_to "Events", events_url %></li>
	<li><%= link_to "Media Items", media_items_url %></li>
</ul>
<ul>  
	<li><%= link_to "Zum Frontend", root_url %></li>
	<li><%= link_to "Logout", logout_url %></li>
</ul>
</nav>