<div class="menu_section">
	<div class="menu_label"><%= t("choose_language") %></div>
	<%= render 'navigation/language_selector' %>
</div>

<span class="menu_large"><%= t("events_upcoming") %></a></span><br/>
<%= render 'events/upcoming', :events => (Event.all( 
														:conditions => ["date > ?", Date.yesterday],
														:order=>'date ASC', :limit=>3)) %>

<ul id="main_menu">
	<li><%= link_to t("project_gallery"), public_projects_gallery_url, :class=>"nav_ajax" %>
	<li><%= link_to t("media_items_list"), public_media_items_list_url, :class=>"nav_ajax"	%>
	<% pages = Page.where("in_menu > 0").order("in_menu ASC")
		 pages.each do |page| %>	
		<li><a href="<%= public_page_url(page) %>" class="nav_ajax"><%= page.title %></a></li>
	<% end %>
</ul>

<div class="menu_section">
	<div class="menu_label"><%= t("follow_us") %></div>
	<div>
	<a href="<%= public_page_url('connect') %>" class="nav_ajax"><%= image_tag('email.png', :size=>"32x32"); %></a>
	<a href="http://facebook.com/invisibleplayground"><%= image_tag('facebook.png', :size=>"32x32"); %></a>
	<a href="http://twitter.com/invplayground"><%= image_tag('twitter.png', :size=>"32x32"); %></a>
	<a href="http://invisibleplayground.tumblr.com"><%= image_tag('tumblr.png', :size=>"32x32"); %></a>
	</div>
</div>

<%= render 'navigation/map_explanation' %>