<div class="menu_section">
	<div class="menu_label"><%= t("choose_language") %></div>
	<%= render 'navigation/language_selector' %>
</div>

<% events = Event.all( :conditions => ["date > ?", Date.yesterday],
											 :order=>'date ASC', :limit=>4) %>

<% if events.length > 0 %>
  <span class="menu_large"><%= t("events_upcoming") %></a></span><br>
  <%= render 'events/upcoming', :events => events %>
<% end %>

<span class="menu_large"><%= t("project_gallery") %></span><br>
<ul class="event_list">
    <% projects = Project.where("in_gallery > 0").order("in_gallery ASC")
       projects.each do |project| %>
    <li>
    <% if project.direct_to_url %>
      <a href="<%= project.website %>" target="_blank"><%= project.title %></a>
    <% else %>
        <a href="<%= public_project_url(project) %>" class="nav_ajax"><%= project.title %></a>
    <% end %>
    </li>        
    <% end %>
</ul>

<ul id="main_menu">
	<%#= link_to t("project_gallery"), public_projects_gallery_url, :class=>"nav_ajax" %>
  <!--li><%#= link_to t("media_items_list"), public_media_items_list_url, :class=>"nav_ajax"	%></li-->
        
	<% pages = Page.where("in_menu > 0").order("in_menu ASC")
		 pages.each do |page| %>	
		<li><a href="<%= public_page_url(page) %>" class="nav_ajax"><%= page.title %></a></li>
	<% end %>
</ul>

<div class="menu_section">
	<div class="menu_label"><%= t("follow_us") %></div>
	<div>
	<a href="<%= public_page_url('newsletter') %>" class="nav_ajax"><%= image_tag('email.png', :size=>"32x32"); %></a>
	<a href="http://facebook.com/invisibleplayground" target="_blank"><%= image_tag('facebook.png', :size=>"32x32"); %></a>
	<a href="http://twitter.com/invplayground" target="_blank"><%= image_tag('twitter.png', :size=>"32x32"); %></a><br>
	<a href="http://invisibleplayground.tumblr.com" target="_blank"><%= image_tag('tumblr.png', :size=>"32x32"); %></a>
	<a href="http://flickr.com/invisibleplayground/sets" target="_blank"><%= image_tag('flickr.png', :size=>"32x32"); %></a>
	<a href="https://www.youtube.com/user/BerlinIP/videos" target="_blank"><%= image_tag('youtube.png', :size=>"32x32"); %></a>
	</div>
</div>

<%= render 'navigation/map_explanation' %>