<nav>
<div class="main_nav">
	<ul>
		<li><%= render 'events/upcoming', :events => (Event.all :order=>'date ASC', :limit=>3) %></li>
	</ul>

	<ul>
		<li><%= link_to t("project_gallery"), public_projects_gallery_url, :class=>"nav_ajax" %>
		<li><%= link_to t("project_list"), public_projects_list_url, :class=>"nav_ajax" %>
		<li><%= link_to t("media_items_list"), public_media_items_list_url, :class=>"nav_ajax"	%>
	</ul>
	
	<ul>  
  <% Page.order(:id).each_with_index do |page| %>
  	<li>
			<a href="<%= public_page_url(page) %>" class="nav_ajax"><%= page.title %></a>
		</li>
	<% end %>
	</ul>
</div>

<div class="language_selection">
	<select id="language_selector">
		<% I18n.available_locales.each do |l| %>
			<option value="<%= l %>"
				<% if l == I18n.locale %>
					selected="selected"
				<% end %>			
			><%= l %></option>
		<% end %>
	</select>
</div>
</nav>