<nav>
<div class="main_nav">
	<ul>
		<li><a href="projects/gallery"><%= t("project_gallery") %></a></li>
		<li><a href="projects/list"><%= t("project_list") %></a></li>
	</ul>
	<ul>  
  <% Page.order(:id).each_with_index do |page| %>
  	<li>
			<a href="<%= public_page_url(page) %>" class="nav_ajax"><%= page.title %></a>
		</li>
	<% end %>
	</ul>
</div>

<div class="language_selection">
	<select id="language_selector">
		<% I18n.available_locales.each do |l| %>
			<option value="<%= l %>"
				<% if l == I18n.locale %>
					selected="selected"
				<% end %>			
			><%= l %></option>
		<% end %>
	</select>
</div>
</nav>