<!DOCTYPE html>
<html>
<head>
  <title>Invisible Playground</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless request.path.include?('admin') %>
	<div id="map"></div>
<% end %>

<div id="content_container">

	<% if request.path.include?('admin') %>
		<%= render :partial => "layouts/admin_menu" %>	
	<% else %>
			<%= render :partial => "layouts/navigation" %>
	<% end %>
	
	<div id="main_content">
		<%= yield %>
	</div>

</div>

</body>
</html>
